//////////
// Font //
//////////
$abel: 'Abel', sans-serif;

////////////////
// Background //
////////////////
$body-background-image: url('./images/eye-oil-spill.jpg');


////////////
// Colors //
////////////

$grey: #333333;
$light-grey: #FAFAFA;
$light-grey-border: #EEEEEE;
$light-color: #AAAAAA;

$box-shadow: 6px 6px 40px 0px rgba(87,85,87,1);
